service: udemy-course-loader
frameworkVersion: '3'

provider:
  name: aws
  region: us-east-1
  stage: ${opt:stage,'dev'} 
  runtime: nodejs14.x
  memorySize: 512
  timeout: 900
  environment:
    DATABASE_URL: ${self:custom.DATABASE_URL}
    UDEMY_ACCOUNT_NAME: ${self:custom.UDEMY_ACCOUNT_NAME}
    UDEMY_ACCOUNT_ID: ${self:custom.UDEMY_ACCOUNT_ID}
    UDEMY_CLIENT_ID: ${self:custom.UDEMY_CLIENT_ID}
    UDEMY_CLIENT_SECRET: ${self:custom.UDEMY_CLIENT_SECRET}
    UDEMY_API_TIMEOUT: 30000
    UDEMY_COURSE_DATA_BUCKET: ${self:custom.UDEMY_COURSE_DATA_BUCKET}
  iam:
    role:
      statements:
        - Effect: Allow
          Action: s3:ListBucket
          Resource: arn:aws:s3:::${self:custom.UDEMY_COURSE_DATA_BUCKET}
        - Effect: Allow
          Action:
            - 's3:GetObject'
            - 's3:PutObject'
          Resource:
            - arn:aws:s3:::${self:custom.UDEMY_COURSE_DATA_BUCKET}/*
  tracing: 
    lambda: true

package:
  patterns:
    - '!node_modules/@prisma/engines/**'
    - '!node_modules/.prisma/client/libquery_engine-darwin-arm64.dylib.node'
    - '!course-files/**'
    - '!test/**'
    - '!*.sh'

custom:
  UDEMY_CRS_PG_USER: ${env:UDEMY_CRS_PG_USER}
  UDEMY_CRS_PG_PASSWORD: ${env:UDEMY_CRS_PG_PASSWORD}
  UDEMY_CRS_PG_DATABASE: ${env:UDEMY_CRS_PG_DATABASE}
  POSTGRESQL:
    HOST:
      Fn::GetAtt: [UdemyCourseDB, Endpoint.Address]
    PORT:
      Fn::GetAtt: [UdemyCourseDB, Endpoint.Port]
  UDEMY_ACCOUNT_NAME: ${env:UDEMY_ACCOUNT_NAME}
  UDEMY_ACCOUNT_ID: ${env:UDEMY_ACCOUNT_ID}
  UDEMY_CLIENT_ID: ${env:UDEMY_CLIENT_ID}
  UDEMY_CLIENT_SECRET: ${env:UDEMY_CLIENT_SECRET}
  UDEMY_COURSE_DATA_BUCKET: tca-udemy-course-data
  DATABASE_URL: 
    !Join
      - ''
      - - 'postgresql://'
        - ${self:custom.UDEMY_CRS_PG_USER}
        - ':'
        - ${self:custom.UDEMY_CRS_PG_PASSWORD}
        - '@'
        - ${self:custom.POSTGRESQL.HOST}
        - ':'
        - ${self:custom.POSTGRESQL.PORT}
        - '/'
        - ${self:custom.UDEMY_CRS_PG_DATABASE}

resources:
  - ${file(./resource/UdemyCourseDB.yml)} 
   
functions:
  courseLoader:
    handler: src/utils/udemy-course-fetcher/fetcher.handleCourses
    events:
      - eventBridge:
          enabled: true
          schedule: cron(0 8 * * ? *)
    vpc:
      securityGroupIds:
        - sg-c31b46a6
      subnetIds:
        - subnet-0c1e33c01100208dc
        - subnet-0c6b178fbcae39d21
        - subnet-b66acd9d
        - subnet-0c82c136
