*

!package.json
!pnpm-lock.yaml
!app.js
!app-bootstrap.js
!app-constants.js
!app-routes.js
!config/
!config/**
!docs/
!docs/swagger.yaml
!src/
!src/**

src/**/test/
src/**/test/**
src/db/migrations/
src/db/migrations/**
src/db/seeders/
src/db/seeders/**
src/scripts/
src/scripts/**
src/utils/course-generator/
src/utils/course-generator/**
src/utils/error-notifications/
src/utils/error-notifications/**
src/utils/mongodb-trigger-handler/
src/utils/mongodb-trigger-handler/**
src/utils/udemy-course-fetcher/
src/utils/udemy-course-fetcher/**
src/utils/certificate-sharing/docs/
src/utils/certificate-sharing/docs/**
src/utils/certificate-sharing/regenerate-certificate-images/
src/utils/certificate-sharing/regenerate-certificate-images/**
src/utils/certificate-sharing/generate-certificate-image/lambda/
src/utils/certificate-sharing/generate-certificate-image/lambda/**
src/utils/certificate-sharing/generate-certificate-image/*.yml
src/utils/certificate-sharing/generate-certificate-image/*.sh
src/utils/certificate-sharing/generate-certificate-image/README.md
src/utils/certificate-sharing/certificate-ssr/**
!src/utils/certificate-sharing/certificate-ssr/cert-image-url-helper.js
