export JWT_ISS_TOKEN="xxxxxxxxxx.metI_AkUVRzTe7KBAKzuxlue0g2_GCBwLEc5NE49ixlS4haZwp.A8LoL9wyWgGjcvb"
# defaults to test API if not set
export OAUTH_TOKEN_API="https://test.salesforce.com/services/oauth2/token"