service: stripe-webhook-sfdc
frameworkVersion: '3'

provider:
  name: aws
  region: us-east-1
  stage: ${opt:stage,'dev'}
  runtime: nodejs18.x
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - 'secretsmanager:GetSecretValue'
          Resource:
            - 'arn:aws:secretsmanager:us-east-1:*:secret:${self:custom.stripeSecretsName}-*'
            - 'arn:aws:secretsmanager:us-east-1:*:secret:${self:custom.jwtPrivateKeySecretName}-*'
        - Effect: Allow
          Action:
            - 'ssm:PutParameter'
          Resource:
            - 'arn:aws:ssm:us-east-1:*:parameter/stripe-webhook-sfdc/sfdc-token'

custom:
  stripeSecretsName: ${self:provider.stage}/tca-stripe-secrets
  jwtPrivateKeySecretName: ${self:provider.stage}/tca-sfdc-jwt-private-key
  jwt:
    dev:
      tokenIssuer: '3MVG9sLbBxQYwWqs8Q.metI_AkUVRzTe7KBAKzuxlue0g2_GCBwLEc5NE49ixlS4haZwp.A8LoL9wyWgGjcvb'
      tokenSubject: 'vasavi.kuchimanchi@topcoder.com.opty'
      tokenAudience: 'test.salesforce.com'
    prod:
      tokenIssuer: 'tbd'
      tokenSubject: 'tbd'
      tokenAudience: 'tbd'
  sfdc:
    tokenParamName: '/stripe-webhook-sfdc/sfdc-token'
    dev:
      oAuthUrl: 'https://test.salesforce.com/services/oauth2/token'
      tokenDuration: 30
      notificationValue: 2
      notificationUnits: 'days'
    prod:
      oAuthUrl: 'tbd'
      tokenDuration: 30
      notificationValue: 2
      notificationUnits: 'days'

functions:
  webhookHandler:
    handler: webhook_handler.handle
    memorySize: 128
    events:
      - httpApi:
          path: /stripe_webhook
          method: post
    environment:
      STRIPE_SECRETS_NAME: ${self:custom.stripeSecretsName}
  
  sfdcHandler:
    handler: sfdc_handler.handle
    memorySize: 128
    events:
      - eventBridge:
          pattern: 
            source: 
              - stripe-webhook-lambda
            detail-type: 
              - stripe-webhook-detail-type
  
  sfdcTokenRefresher:
    handler: sfdc_token_refresher.handle
    memorySize: 128
    events:
      - eventBridge:
          pattern: 
            source:
              - aws.ssm
            detail-type: 
              - 'Parameter Store Policy Action'
            detail:
              parameter-name:
                - ${self:custom.sfdc.tokenParamName}
              policy-type:
                - Expiration
                - ExpirationNotification
    environment:
      JWT_PRIVATE_KEY_SECRET_NAME: ${self:custom.jwtPrivateKeySecretName}
      JWT_TOKEN_ISSUER: ${self:custom.jwt.${self:provider.stage}.tokenIssuer}
      JWT_TOKEN_SUBJECT: ${self:custom.jwt.${self:provider.stage}.tokenSubject}
      JWT_TOKEN_AUDIENCE: ${self:custom.jwt.${self:provider.stage}.tokenAudience}
      OAUTH_TOKEN_URL: ${self:custom.sfdc.${self:provider.stage}.oAuthUrl}
      SFDC_TOKEN_PARAM_NAME: ${self:custom.sfdc.tokenParamName}
      SFDC_TOKEN_DURATION: ${self:custom.sfdc.${self:provider.stage}.tokenDuration}
      SFDC_TOKEN_EXPIRY_NOTIFICATION_VALUE: ${self:custom.sfdc.${self:provider.stage}.notificationValue}
      SFDC_TOKEN_EXPIRY_NOTIFICATION_UNITS: ${self:custom.sfdc.${self:provider.stage}.notificationUnits}