service: stripe-webhook-sfdc
frameworkVersion: '3'

provider:
  name: aws
  region: us-east-1
  stage: ${opt:stage,'dev'}
  runtime: nodejs18.x

functions:
  webhookHandler:
    handler: webhook_handler.handle
    memorySize: 128
    events:
      - httpApi:
          path: /stripe_webhook
          method: post
  
  sfdcHandler:
    handler: sfdc_handler.handle
    memorySize: 128
    events:
      - eventBridge:
          pattern: 
            source: 
              - stripe-webhook-lambda
            detail-type: 
              - stripe-webhook-detail-type

