service: mongodb-trigger-handler

frameworkVersion: '3'

provider:
  name: aws
  region: us-east-1
  stage: dev
  runtime: nodejs14.x

functions:
  trigger-handler:
    handler: handler.handle
    events:
      - eventBridge:
          eventBus: arn:aws:events:us-east-1:811668436784:event-bus/aws.partner/mongodb.com/stitch.trigger/62fd7e5d44baed229f34af0b
          pattern:
            source:
              - prefix: 'aws.partner/mongodb.com'
    environment:
      AUTH0_URL: ${env:AUTH0_URL}
      AUTH0_AUDIENCE: ${env:AUTH0_AUDIENCE}
      AUTH0_CLIENT_ID: ${env:AUTH0_CLIENT_ID}
      AUTH0_CLIENT_SECRET: ${env:AUTH0_CLIENT_SECRET}
      LEARNING_PATHS_API_ENDPOINT: ${env:LEARNING_PATHS_API_ENDPOINT} 