# REMOTE DEVELOPMENT DATABASE connection details -- copy this file to a new .dev.env file, which is 
# gitignored, and modify these values to match the remote database you are using,
# in particular the password and host. You can then copy and paste the contents of this file into 
# your terminal to set the env vars properly.
export TCA_PG_DATABASE_REMOTE="topcoder_academy"
export TCA_PG_USER_REMOTE="postgres"
export TCA_PG_PASSWORD_REMOTE="some-complicated-password"
export TCA_PG_HOST_REMOTE="topcoder-academy-dev.xxxxxxxxxxxx.us-east-1.rds.amazonaws.com"