service: tca-certificate
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x

functions:
  ssr:
    handler: handler.index
    events:
      - httpApi:
          path: /
          method: get

plugins:
  - serverless-offline
